<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Belt_Drive_Design.My.MySettings.Y_MotorConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Y_Motor.mdb"
            providerName="System.Data.OleDb" />
        <add name="Belt_Drive_Design.My.MySettings.VbeltConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Vbelt.mdb"
            providerName="System.Data.OleDb" />
        <add name="Belt_Drive_Design.My.MySettings.Vbelt1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Vbelt1.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>